<html>
  <head>
    <title>Custom User</title>
  </head>
  <body>
    <header>
      <ul>
        {% if user.is_authenticated %}
        <li class="header_link">
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="header_link">
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </header>

    {% block content%} {% endblock %}
    <br />
    <br />
    <footer>
      <p>Created by Chelsea White</p>
    </footer>
  </body>
</html>
